
* {
    box-sizing: border-box; 
}

body {
    font-family: system-ui, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 65px;
}

label {
    font-size: 14px;
    margin-top: 12px;
    display: block;
}

textarea, input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: none;
    min-height: 80px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #0736b8;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: white;
}

button:hover {
    background: #5d2684;
}
